extends layout

block content
  h1= title
  form(method="POST" action="/pmo/add_initiative")
    fieldset
      label Name
        input(type="text" name="name")
      label Author
        select(name="author")
          each user in users
            option(value=user.id) #{user.firstName} #{user.lastName}
      label Brief Description (plain text for the list)
        textarea(name="brief_desc")
      label Full Description (Markdown)
        textarea(name="full_desc")
    input(type="submit" value="Add initiative")

