extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href="/pmo/initiatives?status=open") Initiatives
    li
      a(href="/pmo?status=open") Projects and Tasks
    li
      a(href="/pmo?status=open&type=program") Programs
    li
      a(href="/pmo/portfolios") Portfolios
    li
      a(href="/employee") Employees
    li
      a(href="/pmo/add_attach_setup") Setup

  img(src="/images/PMO.png" alt="PMO scheme")
