doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined')
    script(defer src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous")

  body
    main.container
      nav
        ul
          li
            strong Company name
        ul
          li
            a(href="/") Home
          li
            if user
              a(href="/users/logout") Logout
            else
              a(href="/users/login") Login
              | / 
              | 
              a(href="/users/register") Register
      if messages
        if messages.success
            .alert.success
              span.closebtn(onclick="this.parentElement.style.display='none';") &times;
              = messages.success
              .closebtn
        if messages.error
            .alert.danger
              span.closebtn(onclick="this.parentElement.style.display='none';") &times;
              = messages.error
              .closebtn
        if messages.info
            .alert.info
              span.closebtn(onclick="this.parentElement.style.display='none';") &times; 
              = messages.info
              .closebtn
        if messages.warning
            .alert.warning
              span.closebtn(onclick="this.parentElement.style.display='none';") &times;
              = messages.warning
              .closebtn
      block content
