h2 Brief Description
pre= initiative.brief_desc
h2 Attachments
if initiative.attachments.length !== 0
  ul
    each attach in initiative.attachments
      - const strippedFileName = attach.link.replace('uploads', '../..')
      li(id='attach_' + attach.id)
        a(href=strippedFileName) #{attach.name}
        span &nbsp;
        a(href='#', hx-delete='/pmo/' + attach.id + '/delete_attach', hx-target='#attach_' + attach.id, hx-confirm='Are you sure to delete attachment?' hx-swap='outerHTML')
          span.material-symbols-outlined remove
h2 Full Description
!= initiative.full_desc
